exams/HELP.md
exams/target/
exams/!.mvn/wrapper/maven-wrapper.jar
exams/!**/src/main/**/target/
exams/!**/src/test/**/target/

### STS ###
exams/.apt_generated
exams/.classpath
exams/.factorypath
exams/.project
exams/.settings
exams/.springBeans
exams/.sts4-cache

### IntelliJ IDEA ###
exams/.idea
exams/*.iws
exams/*.iml
exams/*.ipr

### NetBeans ###
exams/nbproject/private/
exams/nbbuild/
exams/dist/
exams/nbdist/
exams/.nb-gradle/
exams/build/
exams/!**/src/main/**/build/
exams/!**/src/test/**/build/

### VS Code ###
exams/*/.vscode/*

### testes ###
exams/testes.txt

### DAO config ###
exams/src/main/java/ras/exams/exams/data/DAOconfig.java

teste*